<section class="page-grid">
  <div class="cookies-hero center">
    <h1>Cookies</h1>
    <p>Our cookies are homemade and baked in small batches from morning 'til night. You can be assured there will always be a batch fresh from the oven when you visit.</p>
  </div>

  <div class="product-grid center">
    <%COOKIES.each do |cookie| %>
    <div class="product-display">
      <img class="imgs" src=<%=cookie.images%>> <br>
      <p><strong><%=cookie.name%> &nbsp
      $<%=cookie.price.round(2)%></strong></p>
      <a id="showdes" class="primary-btn">View Product</a>

      <div class="product-description center hidden">
        <span class="close_it">&times;</span>
        <div class="description-modal">
        <img class="modal-imgs" src=<%=cookie.images%>> <br>
        <h3><strong><%=cookie.name%> &nbsp
        $<%=cookie.price.round(2)%></strong></h3>
        <strong>QTY &nbsp</strong><input type="number" name="quantity" min="1" max="100" placeholder="1">
        <p><%=cookie.description%></p>
        <a class="primary-btn">Add To Cart</a>
        </div>
      </div>

    </div>
    <%end%>
  </div>

</section>
